.mbis {
  padding: 70px 240px;
  text-align: center;

  &__heading {
    font-family: inherit;
    font-size: 24px;
    font-weight: 700;
    color: rgb(119, 119, 119);
    line-height: 1.2;
  }

  &__text {
    font-family: inherit;
    font-size: 18px;
    color: rgb(68, 68, 68);
    line-height: 1.6;
    margin: 40px 0;
  }
}
